@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">Configurando Template</div>
            <div class="col-md-4">Configurando Atributos</div>
            <div class="col-md-4">Upload de Arquivos</div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 33%">
                <span class="sr-only">100%</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: 0%">
                <span class="sr-only">0%</span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 0%">
                <span class="sr-only">0%</span>
            </div>
        </div>

    </div>
</div>

<h2>Step 1</h2>

<form>
    <div class="panel panel-default">
        <div class="panel-heading">CEO</div>
        <div class="panel-body">

            <div class="form-group">
                <label for="inputUrl">URL</label>
                <input type="url" class="form-control" id="inputUrl" aria-describedby="url" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputtitulo">Título</label>
                <input type="text" class="form-control" id="inputTitulo" placeholder="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="metadescricao">Meta Descrição</label>
                        <textarea class="form-control" rows="5" id="metadescricao" placeholder=""></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="metadescricao">Meta Descrição</label>
                        <textarea class="form-control" rows="5" id="metadescricao" placeholder=""></textarea>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">TIPOS DE MÍDIAS</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="qtdimagens">Qtd Imagens</label>
                        <select class="form-control" id="qtdimagens">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="qtdimagens">Qtd Vídeos</label>
                        <select class="form-control" id="qtdimagens">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">INTERAÇÕES</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="qtdimagens">Links</label>
                        <select class="form-control" id="qtdimagens">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="qtdimagens">Botões</label>
                        <select class="form-control" id="qtdimagens">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="qtdimagens">Formularios</label>
                        <select class="form-control" id="qtdimagens">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

