@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">Configurando Template</div>
            <div class="col-md-4">Configurando Atributos</div>
            <div class="col-md-4">Upload de Arquivos</div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 33%">
                <span class="sr-only">100%</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: 33%">
                <span class="sr-only">100%</span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 0%">
                <span class="sr-only">0%</span>
            </div>
        </div>

    </div>
</div>

<h2>Step 2</h2>

<form>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">IMAGENS</div>
                <div class="panel-body">

                    <div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input type="text" class="form-control" id="alt" placeholder="Alt">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-default">Incluir</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <tr>
                                <th width="10%">Id</th>
                                <th width="90%">Alt</th>
                            </tr>
                        </table>
                    </div>
                    

                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">VÍDEOS</div>
                <div class="panel-body">

                    <div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input type="text" class="form-control" id="url" placeholder="Url">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-default">Incluir</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <tr>
                                <th width="10%">Id</th>
                                <th width="90%">Url</th>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">LINKS</div>
                <div class="panel-body">

                    <div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="link" placeholder="Url">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" id="janela"> <label for="janela">Abrir em nova guia</label>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-default">Incluir</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <tr>
                                <th width="10%">Id</th>
                                <th width="80%">Url</th>
                                <th width="10%">Nova guia</th>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">BOTÕES</div>
                <div class="panel-body">

                    <div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="legenda" placeholder="Legenda">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="link" placeholder="Url">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" id="janela"> <label for="janela">Abrir em nova guia</label>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-default">Incluir</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <tr>
                                <th width="10%">Id</th>
                                <th width="40%">Legenda</th>
                                <th width="40%">Url</th>
                                <th width="10%">Nova guia</th>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">FORMULÁRIO</div>
                <div class="panel-body">

                    <textarea class="form-control" rows="6" id="formulario"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">GOOGLE ANALYTICS (GA)</div>
                <div class="panel-body">

                    <textarea class="form-control" rows="6" id="formulario"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">GOOGLE TAG MANAGER (GTM)</div>
                <div class="panel-body">

                    <textarea class="form-control" rows="6" id="formulario"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">SMARTLOOK</div>
                <div class="panel-body">

                    <textarea class="form-control" rows="6" id="formulario"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-default">Voltar</button>
        </div>
        <div class="col-lg-6" style="text-align:right;">
            <button type="button" class="btn btn-default">Avançar</button>
        </div>
    </div>

</form>
