@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FAINEPAGES</h1>
    <p class="lead">Sistema gerenciador de Templates HTML.</p>
    <p><a href="~/template/" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>UI e UX Designer Sênior</h2>
        <p>
            Trabalhando com projetos digitais desde 2000 em várias empresas e agências, venho apresentando resultados relevantes na área de criação, design de interação e experiência de usuário em vários seguimentos de mercado. 
        </p>
        <p><a class="btn btn-default" href="http://www.edmartins.com.br/">Conhecer Ed Martins &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>